<div class="page-title">
    <div class="title_left">
        <h3>Carga Cuenta <small></small></h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">

                <div class="col-md-12">

                    <iframe src="~/Reportes/Reportes.aspx" width="100%" height="800px"></iframe>

                </div>

                <div align="right">
                    <a href="@Url.Action("Index", "CargasCuentas")" cl class="btn btn-primary">Volver</a>
                </div>

            </div>
        </div>
    </div>

</div>